@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 0.3125rem;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 0.625rem;
    position: relative;
    transition: flex 0.7 ease-in;
}

.panel h3 {
    font-size: 1.5rem;
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
    margin: 0;
    opacity: 0;
}